{% extends "layout/auth.html" %}
{% load static %}
{% block title %}
Login
{% endblock %}
{% block content %}
<!--begin::Heading-->
<div class="text-center mb-11">
  <!--begin::Title-->
  <h1 class="text-dark fw-bolder mb-3">
      Password Reset
  </h1>
  <!--end::Title-->

  <!--begin::Subtitle-->
  <div class="text-gray-500 fw-semibold fs-6">
      Enter your email
  </div>
  <!--end::Subtitle--->
</div>
<!--begin::Heading-->
<form method="post">
  {% csrf_token %}
  {% for field in form %}

    <div class="fv-row mb-8">
      <input type="{{ field.widget_type }}" placeholder="{{ field.label }}" name="{{ field.html_name }}" autocomplete="off" class="form-control bg-transparent"/>
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </div>
  {% endfor %}
  {% if form.non_field_errors %}
    <ul class="list-group">
    {% for error in form.non_field_errors %}
      <li class="list-group-item list-group-item-danger">{{ error|escape }}</li>
    {% endfor %}
    </ul>
    <br>
  {% endif %}
  <!--begin::Submit button-->
  <div class="d-grid mb-10">
    <button type="submit" id="kt_sign_in_submit" class="btn btn-primary">
        {% include 'partials/general/_button-indicator.html' with label='Reset Password' %}
    </button>
  </div>
  <!--end::Submit button-->
</form>


  <!--begin::Sign up-->
  <div class="text-gray-500 text-center fw-semibold fs-6">
      Not a Member yet?

      <a href="{% url 'account_signup' %}" class="link-primary">
          Sign up
      </a>
  </div>
  <!--end::Sign up-->
{% endblock %}