{% extends 'layout/default.html' %}

{% load i18n %}

{% block   title %}{% blocktranslate with template=template.template %}Domains{% endblocktranslate %}{% endblock %}
{% block bctitle %}{% blocktranslate with template=template.template %}Domains{% endblocktranslate %}{% endblock %}
{% block breadcrumbs %}
<li class="breadcrumb-item"><span class="bullet bg-gray-400 w-5px h-2px"></span></li>
<li class="breadcrumb-item text-muted"><a href="{% url 'domain_list' %}" class="text-muted text-hover-primary">Domains</a></li>
{% endblock breadcrumbs %}

{% block content %}
<form class="d-flex justify-content-center" role="search" method="get" action="{% url 'domain_search' %}"">
    <input name="user_search" class="form-control me-2" style="max-width: 600px;" type="search" placeholder="Search by domain" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

{% if perms.ranker.manage_domains %}
<h3>Admin Area</h3>
<ul>
    <li>
        Domain total: {{domain_count}}
    </li>
    <li>
        Domains (na) missing business data: {{domain_na_missing_busdata}} <a href="{% url 'get_business_data' %}">(get business data)</a>
    </li>
    <li>
        Domains (na) with business data: {{domain_na_with_busdata}}
    </li>
    <li>
        Brands: {{brands_all}}
    </li>
    <li>
        Brands indexed: {{brands_indexed}}
    </li>
    <li>
        Brands not indexed: {{brands_not_indexed}} <a href="{% url 'index_brands' %}">(index brands)</a>
    </li>
</ul>
{% endif %}

{% if domain_list %}
    <div class="table-responsive">
        <table id="kt_datatable_zero_configuration" class="table table-row-bordered gy-5">
        <thead>
            <tr>
            <th scope="col">Rank</th>
            <th scope="col">Domain</th>
            <th scope="col">Brands</th>
            <th scope="col">Keywords</th>
            <th scope="col">Traffic</th>
            <th scope="col">Cost</th>
            <th scope="col">Attempts</th>
            <th scope="col">Retrieved At</th>
            <th scope="col">Response</th>
            </tr>
        </thead>
        <tbody>
    {% for domain in domain_list %}
            <tr>
                <td>{{domain.rank}}</td>
                <td><a href="{% url 'domain_detail' domain.id %}">{{domain.domain}}</a></td>
                <td>{{domain.brand_set.count}}</td>
                <td>{{domain.keywords}}</td>
                <td>{{domain.traffic}}</td>
                <td>{{domain.cost}}</td>
                <td>{{domain.business_attempts}}</td>
                <td>{{domain.business_retrieved_at}}</td>
                <td>{{domain.business_api_response|truncatechars:100}}</td>

            </tr>
    {% endfor %}
        </tbody>
        </table>
    </div>
    {% include 'ranker/partials/_pagination.html' %}
{% else %}
    <p>No domains available.</p>
{% endif %}


{% endblock content %}

{% block pagejs %}
<!-- <script>$("#kt_datatable_zero_configuration").DataTable();</script> -->
{% endblock pagejs %}
