{% extends 'layout/default.html' %}

{% load i18n %}

{% block meta %}
<meta name="description" content="ChatGPT and other AI LLMs answer {{keyword.natural_language_question}}"/>
<meta name="keywords" content="{{keyword}}"/>
<meta name="robots" content="index">
<meta property="og:title" content="{{keyword.natural_language_question}} - ChatGPT Responds" />
{% endblock meta %}

{% block   title %}{{keyword.natural_language_question}} - ChatGPT Responds{% endblock %}
{% block bctitle %}Keyword Detail - {{keyword}}{% endblock %}
{% block breadcrumbs %}
<li class="breadcrumb-item"><span class="bullet bg-gray-400 w-5px h-2px"></span></li>
<li class="breadcrumb-item text-muted"><a href="{% url 'keyword_list' %}" class="text-muted text-hover-primary">Keywords</a></li>
{% endblock breadcrumbs %}

{% block content %}
<h2>ChatGPT and other AI LLMs answer: "{{keyword.natural_language_question}}"</h2>
<br>
<br>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2 message-response fs-3 fw-light text-gray-700 mb-3">
            Large Language Model
        </div>
        <div class="col col-lg-8 message-response fs-3 fw-light text-gray-800 mb-3">
            <h3>{{keyword.natural_language_question}}</h3>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-2 message-response fs-3 fw-light text-gray-700 mb-3">
            ChatGPT
        </div>
        <div class="col col-lg-8 message-response fs-3 fw-light text-gray-700 mb-3">
            {{keyword.ai_answer}}
        </div>
    </div>
</div>

{% endblock content %}


