{% extends 'layout/default.html' %}

{% load i18n %}

{% block title %}{% translate "Keyword Gap Analysis" %}{% endblock %}
{% block bctitle %}{% translate "Keyword Gap Analysis" %}{% endblock %}
{% block breadcrumbs %}
<li class="breadcrumb-item"><span class="bullet bg-gray-400 w-5px h-2px"></span></li>
<li class="breadcrumb-item text-muted"><a href="{% url 'keyword_list' %}" class="text-muted text-hover-primary">Keywords</a></li>
{% endblock breadcrumbs %}

{% block content %}

<form action="{% url 'keyword_gap'  %}" method="post">
    {% csrf_token %}
    <div class="overflow-hidden flex-grow-1 col-md-6">
        <label for="SelectBrand1">Brand 1</label>
        <select name="brand1" id="SelectBrand1" class="form-control js-autocomplete-brands-ajax" data-control="select2" data-placeholder="Enter a brand"></select>
    </div>
    <div class="overflow-hidden flex-grow-1 col-md-6">
        <label for="SelectBrand2">Brand 2</label>
        <select name="brand2" id="SelectBrand2" class="form-control js-autocomplete-brands-ajax" data-control="select2" data-placeholder="Enter a brand"></select>
    </div>
    <input class="btn btn-secondary" type="submit" value="Compare">
</form>

{% if brand1 %}
{{brand1}}
{{brand2}}
{% endif %}

{% if keyword_list %}
    <div class="table-responsive">
        <table id="kt_datatable_zero_configuration" class="table table-row-bordered gy-5">
        <thead>
            <tr>
            <th scope="col">Keyword</th>
            <th scope="col">Traffic</th>
            <th scope="col">Natural Language Question</th>
            <th scope="col">AI Answer</th>
            </tr>
        </thead>
        <tbody>
    {% for keyword in keyword_list %}
            <tr>
                <td>{{keyword.keyword}}</td>
                <td>{{keyword.traffic}}</td>
                <td><a href="{% url 'keyword_detail' keyword.id %}">{{keyword.natural_language_question}}</a></td>
                <td>{{keyword.ai_answer}}</td>
            </tr>
    {% endfor %}
        </tbody>
        </table>
    </div>
    {% include 'ranker/partials/_pagination.html' %}
{% else %}
    <p>Choose two brands to compare.</p>
{% endif %}


{% endblock content %}

{% block pagejs %}
<script type="text/javascript">
    $(document).ready(function () {
        $('.js-autocomplete-brands-ajax').select2({
            ajax: {
                url: '{% url 'autocomplete_brands' %}',
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {id: item.id, text: item.brand};
                        })
                    };
                }
            },
            minimumInputLength: 2
        });
    });
    </script>
{% endblock pagejs %}