{% extends "base.html" %}
{% load static %}
{% block header %}
{% csrf_token %}
<script src="{% static '/ranker/sortable.js' %}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<script>
    var sortable
    document.addEventListener("DOMContentLoaded", () => {
        sortable = Sortable.create(document.getElementById('productList'), {
            onEnd: function (evt) {
                updateOrder();
            },
            handle: '.handle',
            animation: 200,
        });
      });

    function reverseOrder() {
        var order = sortable.toArray();
        sortable.sort(order.reverse(), true);
    }

    function updateOrder() {
        var ids = sortable.toArray();

        fetch('update_order/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body : JSON.stringify(ids),
            headers: { "X-CSRFToken": '{{ csrf_token }}' },
            credentials : 'same-origin',
        })
        .then(function (response) {
            console.log("Order updated successfully.");
        })
        .catch(function (error) {
            console.error("Error updating order:", error);
        });
    }
</script>

{% endblock %}

{% block title %}
Product Detail - {{product.product}}
{% endblock %}
{% block content %}
<h1>Product Detail - {{product.product}}</h1>

<ul id="productList" class="list-group">
{% for product_template in product_templates %}
    <li data-id="{{product_template.id}}" class="list-group-item d-flex justify-content-between align-items-start">
        <i class="bi bi-grip-vertical handle"></i>
        <!-- <i class="fa-solid fa-lg fa-grip-vertical"></i> -->
        <div class="ms-2 me-auto">
            <div class="fw-bold">{{product_template.prompt1}}</div>
            View more...
        </div>
        <form action="{% url 'product_template_delete' product_template.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger btn-sm rounded-2" type="submit" data-toggle="tooltip" data-placement="top" title="Delete"><i class="bi bi-trash"></i></button>
        </form>
      <span class="badge bg-primary rounded-pill">{{product_template.order}}</span>
    </li>
{% endfor %}
</ul>
<br>
<h3>Create new product template item</h3>
<form action="{% url 'product_detail' product.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
<p>Use @currentDomain to reference the desired domain</p>
{% endblock %}