{% extends 'layout/default.html' %}

{% load i18n %}

{% block   title %}{% blocktranslate with template=template.template %}Template Detail - {{template}}{% endblocktranslate %}{% endblock %}
{% block bctitle %}{% blocktranslate with template=template.template %}Template Detail - {{template}}{% endblocktranslate %}{% endblock %}
{% block breadcrumbs %}
<li class="breadcrumb-item"><span class="bullet bg-gray-400 w-5px h-2px"></span></li>
<li class="breadcrumb-item text-muted"><a href="{% url 'template_list' %}" class="text-muted text-hover-primary">Templates</a></li>
{% endblock breadcrumbs %}

{% block content %}
<h1>Template Detail - {{template.template}}</h1>

{% if create_conversations_form %}
    <form action="{% url 'template_create_conversations' %}" method="post" class="form-inline">
        {% csrf_token %}
        <select name="ai_model" class="form-select" data-control="select2" data-placeholder="Select an AI model">
            {% for ai_model in ai_model_list %}
                <option value="{{ai_model.id}}">{{ai_model}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Create Conversations" class="btn btn-primary">
    </form>
{% endif %}

<ul id="templateList" class="list-group">
{% for template_item in template.templateitem_set.all %}
    <li data-id="{{template_item.id}}" class="list-group-item d-flex justify-content-between align-items-start">
        <i class="bi bi-grip-vertical handle"></i>
        <!-- <i class="fa-solid fa-lg fa-grip-vertical"></i> -->
        <div class="ms-2 me-auto">
            <div class="fw-bold">{{template_item.prompt1}}</div>
            View more...
        </div>
        <form action="{% url 'template_item_delete' template_item.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger btn-sm rounded-2" type="submit" data-toggle="tooltip" data-placement="top" title="Delete"><i class="bi bi-trash"></i></button>
        </form>
      <span class="badge bg-primary rounded-pill">{{template_item.order}}</span>
    </li>
{% endfor %}
</ul>
<br>
<h3>Create new template item</h3>
<form action="{% url 'template_detail' template.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
<p>Use @currentDomain to reference the desired domain</p>

{% endblock content %}




{% block pagejs %}
{% csrf_token %}
<script src="{% static '/ranker/sortable.js' %}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<script>
    var sortable
    document.addEventListener("DOMContentLoaded", () => {
        sortable = Sortable.create(document.getElementById('templateList'), {
            onEnd: function (evt) {
                updateOrder();
            },
            handle: '.handle',
            animation: 200,
        });
      });

    function reverseOrder() {
        var order = sortable.toArray();
        sortable.sort(order.reverse(), true);
    }

    function updateOrder() {
        var ids = sortable.toArray();

        fetch('update_order/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body : JSON.stringify(ids),
            headers: { "X-CSRFToken": '{{ csrf_token }}' },
            credentials : 'same-origin',
        })
        .then(function (response) {
            console.log("Order updated successfully.");
        })
        .catch(function (error) {
            console.error("Error updating order:", error);
        });
    }
</script>

{% endblock pagejs %}