{% extends 'layout/default.html' %}

{% load i18n %}

{% block title %}{% translate "Templates" %}{% endblock %}
{% block bctitle %}{% translate "Templates" %}{% endblock %}
{% block breadcrumbs %}
<li class="breadcrumb-item"><span class="bullet bg-gray-400 w-5px h-2px"></span></li>
<li class="breadcrumb-item text-muted"><a href="{% url 'template_list' %}" class="text-muted text-hover-primary">Templates</a></li>
{% endblock breadcrumbs %}

{% block content %}
<h1>Templates</h1>

<ul>
{% for template in template_list %}

<li>
    <form action="{% url 'template_delete' template.id %}" method="post" class="form-inline">
        {% csrf_token %}
        <a href="{% url 'template_detail' template.id %}">{{template.template}}</a>
        ( 
            <input type="submit" value="delete" class="btn btn-link text-muted text-hover-danger fs-8">
        )
    </form>
</li>
{% endfor %}
</ul>

<h3>Create new template</h3>
<form action="{% url 'template_create' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

{% endblock content %}